<div class="map">
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [usePanning]="true"
           (centerChange)="centerChange($event)"
           (zoomChange)="zoomChange($event)">

    <agm-marker *ngFor="let item of dataMap$ | async"
                [iconUrl]="item.status.name === 'ACTIVE' ? markerUrl : markerDisabledUrl"
                [latitude]="+item.address.geo.latitude"
                [longitude]="+item.address.geo.longitude"
                [title]="item.name">
    </agm-marker>

  </agm-map>

  <app-search [dataMap]="dataMap$ | async"
              (selectedEvent)="selectedShop($event)"
              (cancelSearchEvent)="setDefaultOpts()">
  </app-search>
</div>
